
<h1>Your Properties</h1>
  <ul>
    <% @properties.each do |property| %>
        <li><%= link_to property.address, property_path(property)%></li>
          <%= link_to "Delete", property, method: :delete, data: { confirm: "Really?" } %>
          <br><br>
    <% end %>
  </ul>
