<h1>Hi, <%= @agent.email %></h1>

<br>
<div class="main">
  <div >
    <h3>What would you like to do?</h3>

    <%=link_to 'See Your Properties', properties_path, id: 'propertyID' %>
    <br>
    <br>
    <%=link_to 'See Clients', clients_path(@client), id: 'clientID' %>
    <br>
  </div>
  <div class="content">

  </div>
<br>
</div>


<script type="text/javascript" charset="utf-8">
$(function () {
  $('#clientID').on('click', function(e) {
    $('.content').html("")
    e.preventDefault()

    $.get("/clients" + ".json", function(data) {
      for (i = 0; i < data.length; i++) {
        var clientLastName = data[i].last_name
                console.log(clientLastName)
              $('.content').html(clientLastName);
      }
      console.log(clientLastName)
    });
  });
});
</script>

<%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
  <input type=submit value='logout'>
<% end %>
