<h1>Hi, <%= @agent.email %></h1>

<br>
<div class="main">
  <div >
    <h3>What would you like to do?</h3>

    <%=link_to 'See Your Properties', properties_path, id: 'propertyID' %>
    <br>
    <br>
    <%=link_to 'See Clients', clients_path(@client)%>
    <br>
  </div>
  <div class="content">
    <h1>Hello</h1>
    <h1>Hello</h1>
    <h1>Hello</h1>
    <h1>Hello</h1>
    <h1>Hello</h1>
    <h1>Hello</h1>
    <h1>Hello</h1>
    <h1>Hello</h1>
  </div>
<br>
</div>
<%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
  <input type=submit value='logout'>
<% end %>

<script>
  console.log('hello')
  $('#propertyID').on('click', function(e) {
    e.preventDefault()
    console.log('test')
    $('.content').html("")
    //1. Clear the current div of any content
    //2. Make the Get request for the properties index
    //3. Display the properties in the div you just cleared out
    $('.content').html("<h3>New Stuff</h3>")
  })
</script>
